<form nz-form [formGroup]="LoginForm" (ngSubmit)="onSubmit(LoginForm)" class="ant-advanced-search-form">

  <div id="legend">
    <legend class="">Register</legend>
  </div>



  <nz-form-item>
    <nz-form-label nzRequired [nzSm]="6" [nzXs]="24" nzFor="email">Email</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback nzValidatingTip="Validating..."
      [nzErrorTip]="memberEmailErrorTpl">
      <nz-input-group nzPrefixIcon="google">
        <input type="text" nz-input formControlName="memberEmail" placeholder="Email" />
        <ng-template #memberEmailErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">
            Please input your memberEmail!
          </ng-container>
          <ng-container *ngIf="control.hasError('email')">
            Please input your email In proper Formet!
          </ng-container>
        </ng-template>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>



  <nz-form-item>
    <nz-form-label nzRequired [nzSm]="6" [nzXs]="24" nzFor="password"> password</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback nzValidatingTip="Validating..."
      [nzErrorTip]="passwordValueErrorTpl">
      <nz-input-group nzPrefixIcon="lock">
        <input type="text" nz-input formControlName="password" placeholder="Password"
         />
        <ng-template #passwordValueErrorTpl let-control>

          <ng-container *ngIf="control.hasError('minlength')">
            Please input your password - length must be at least 5!
          </ng-container>
          <ng-container *ngIf="control.hasError('required')">
            Please input your password!
          </ng-container>

        </ng-template>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>



  <nz-form-item>
    <nz-form-control [nzOffset]="7" [nzSpan]="12" class="LoginForm-margin">
      <button nz-button nzType="primary" class="LoginForm-margin-button"
        [disabled]="!LoginForm.valid">Submit</button>
      <button nz-button class="addMandalForm-margin-button" (click)="resetForm(LoginForm)">Reset</button>
    </nz-form-control>
  </nz-form-item>


</form>
